<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add new product</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script  src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script  src="//api.filepicker.io/v1/filepicker.js"></script>
	
	<!-- <script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
		$(document).ready(function(){
			var s = $('#bs-example-navbar-collapse-1 li.dropdown');
			s.append($("<li>1</li>"));
			s.append($("<li>2</li>"));
		});
	</script> -->

</head>

<body>
	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
					<img alt="ShopAtUs" src="images/logo.png">
				</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="addCategory.html">Категории</a>
                    </li>
                    <li>
                        <a href="addProduct.html">Товары</a>
                    </li>
                    <li>
                        <a href="addAd.html">Акции</a>
                    </li>
					<li class="pull-right">
						<a href="orders.html">  Заказы  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    <!-- Page Content -->
    <div class="container">
		<form class="form-container" action="/save_product" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" value="{{ product.id }}">
			<div class="form-title" align="center"><h2>Новый товар</h2></div>
			<table class="table table-bordered"align="center">
				<tr>
				  <td class="form-title" align="right">Категория: </td>
				  <!-- <td align="left"><input class="form-field" required type="number" name="category" value="{{ product.category }}"></td> -->
				  <td>
					  <select required name = category>
						  {% for category in categories %}
							<option value="{{ category.id }}">{{ category.name }}</option>
						  {% endfor %}
					  </select>
				  </td?
				</tr>
				<tr>          
				  <td class="form-title" align="right">Бренд: </td>
				  <td align="left"><input class="form-field" required type="text" name="brand" value="{{ product.brand }}"></td>
				</tr>
				<tr>          
				  <td class="form-title" align="right">Название: </td>
				  <td align="left"><input class="form-field" required type="text" name="name" value="{{ product.name }}"></td>
				</tr>
				<tr>          
				  <td class="form-title" align="right">Картинка: </td>
				  <td align="left"><input class="form-field" required type="file" name="images" multiple value=""></td>
				</tr>
				<tr>          
				  <td class="form-title" align="right">Описание: </td>
				  <td align="left"><input class="form-field" required type="text" name="description" value="{{ product.description }}"></td>
				</tr>
				<tr>          
				  <td class="form-title" align="right">Цена: </td>
				  <td align="left"><input class="form-field" required type="number" name="price" value="{{ product.price }}"></td>
				</tr>
			</table>
			<input class="btn btn-default" align="center" type="submit" value="Сохранить">
		</form>
		<h1></h1>
		<button class="btn btn-default" type="button"> <a href="/delete_product/{{ product.id }}"></a>Удалить</button>
		<!-- <div class="form-title" align="center"><h2>Товары</h2></div>
			<table class="table table-stripped">
				<tr>
					<th>Категория</th>
					<th>Бренд</th>
					<th>Модель</th>
					<th>Удалить</th>
				</tr>
				{% for item in products %}
					<tr>
						<td>{{ item.category }}</td>
						<td>{{ item.brand }}</td>
						<td>{{ item.name }}</td>
						<td>
							<button class="btn btn-default" type="button"> <a href="/delete_product/{{ item.id }}"></a>X</button>
						</td>
					</tr>
				{% endfor %}
			</table>
	<!-- </div> --> 

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ShopAtUs inc. 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
